.bin rect {
    fill: #ff5440;
}
.bin text {
    text-anchor: middle;
    fill: darkgrey;
    font-size: 12px;
    font-family: sans-serif;
}

.mean {
    stroke: grey;
    stroke-dasharray: 2px 4px;
}

.x-axis-label {
    fill: black;
    font-size: 1.4em;
    text-transform: capitalize;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

button {
    font-size: 1.2em;
    margin-left: 1em;
    padding: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    background: #ff5440;
    color: white;
    border: none;
    box-shadow: 0 5px 0 0 #b23a2c;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

button:hover,
button:focus {
    background:#ff5440;
    box-shadow: 0 4px 0 0 #b23a2c;
    transform: translateY(1px);
}

button:hover:active,
button:focus:active,
button:active {
    box-shadow: 0 1px 0 0 #b23a2c;
    transform: translateY(4px);
}
